.dp-days {
  margin-right: -5px;

  .label-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .label {
      width: 32px;
      height: 22px;
      font-size: 14px;
      font-weight: 500;
      color: #8a8a8f;
      margin-top: 32px;
      cursor: initial;
    }
  }
  .days-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    span {
      width: 32px;
      height: 32px;
      font-size: 18px;
      font-weight: 700;
      color: #666666;
      text-align: center;
      user-select: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 12px 14.3px 0 -2px;
      position: relative;
      cursor: pointer;

      &:hover {
        color: #4c80f1;
        background-color: #eaeff9;
        border-radius: 50%;
      }

      &.inactive {
        color: rgba(76, 128, 241, 0.2);
      }

      &.muted {
        color: rgba(0, 0, 0, 0.3);
      }

      &.inactive,
      .muted {
        color: rgba(76, 128, 241, 0.2);
      }

      &.start,
      &.between,
      &.end {
        border-radius: 50%;
        background-color: #4c80f1;
        color: #ffffff;

        &:hover {
          background-color: #4371d4;
        }
      }
    }
  }
}
