.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;

  .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(4, 4, 15, 0.8);
    position: absolute;
    z-index: 1;
  }

  .modal-container {
    width: 824px;
    height: 485px;
    background-color: #ffffff;
    padding: 40px 84px;
    margin: 0 auto;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    .modal-title {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.38;
      color: #333333;
      margin-bottom: 56px;
    }
  }
}
