body {
  margin: 0;
  font-family: "NotoSansCJKkr-Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "NotoSansCJKkr-Bold";
  src: url("./Styles/Fonts/NotoSansCJKkr-Bold.otf") format("truetype");
}

@font-face {
  font-family: "NotoSansCJKkr-Regular";
  src: url("./Styles/Fonts/NotoSansCJKkr-Regular.otf") format("truetype");
}

@font-face {
  font-family: "NotoSansCJKkr-Light";
  src: url("./Styles/Fonts/NotoSansCJKkr-Light.otf") format("truetype");
}
